.multi-nights {
	text-align: right;
	font-size: .7647058823529411em;
	margin-top: -6px;
	padding-bottom: 6px;
}

.page-header .multi-nights {
	text-align: right;
	margin-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	display: none;
}

@media only screen and (min-width: 664px) {
	.multi-nights {
		padding-right: 24px;
	}
}

@media only screen and (min-width: 768px) {
	.page-header .multi-nights {
		display: block;
	}

	.page-header .lead-price {
		margin-top: -6px;
	}
}
@media only screen and (min-width: 881px) {
	.page-header .multi-nights {
		padding-right: 132px;
	}
}
