.avg-rate-per-room {
	text-align: right;
	clear: right;
	font-size: .7647058823529411em;
	/* padding-top: .92307692em; */
	color: #616161;
}

@media only screen and (min-width: 664px) {
	.avg-rate-per-room {
		display: none;
	}
}
