.multi-room {
	text-align: right;
	font-size: .7647058823529411em;
	/*padding-right: 24px;*/
	color: #616161;
	margin-top: -6px;
}

@media only screen and (min-width: 664px) {
	.multi-room {
		padding-right: 24px;
	}
}
