.avg-rate-per-room {
	text-align: right;
	clear: right;
	font-size: .7647058823529411em;
	color: #1f1f1f;
}

.page-header .avg-rate-per-room {
	display: none;
	font-weight: bold;
}

@media (min-width: 768px) {
	.page-header .avg-rate-per-room {
		display: block;
	}
	.page-header .avg-rate-per-room::first-letter {
		text-transform: uppercase;
	}
}
