/*
https://css-tricks.com/css-style-guides/
*/

.share3570 {
  clear: both;
  margin-top: 6px;
  margin-bottom: 0;
  margin-left: 12px;
  padding-top: 12px;
}

.share3570 h2 {
	color: #536d83;
  font-size: 1.1764705882352942em;
	font-weight: normal;
}

.share3570 .box {
  margin-right: 12px;
}

.share3570 a {
  font-size: .7647058823529411em;
}

.share3570 a:nth-child(2) {
  padding-left: 24px;
}

@media screen and (min-width: 768px) {
  .share3570 {
    margin-left: 0;
  }

  .share3570 .box {
    margin-right: 0;
  }
}
