/*
https://css-tricks.com/css-style-guides/
*/

.info-summary {
    color: #0065b8;
    padding-left: 12px !important;
}

.share-label {
  position: relative;
  top: 2px;
}

.icon-toggle270:after {
  -webkit-transform: rotate(-270deg) !important;
  -ms-transform: rotate(-270deg) !important;
  transform: rotate(-270deg) !important;
}

.point-down{
    top: 2px;
    border-left: solid 1px #ccc;
    padding-left: 3px;
}

#result1a.open {
  border-bottom: 1px solid #e0e0e0;
  width: 180px;
}

#result1a.open article {
  border-bottom: 1px solid #e0e0e0;
}

#result1a.open ul {
  margin-left: 12px;
}

#result1a.open .info-summary {
  color: #00355f;
}

#result1a,
#result1a.viewed {
  width: 88px;
}

#result1a .info-summary,
#result1a.viewed .info-summary {
  float: left;
  width: 88px;
}

#resultToggle1a ul {
  margin-top: 3px;
  padding-left: 0;
}

#resultToggle1a li {
  list-style-type: none;
  margin-bottom: 6px;
}

#resultToggle1a li .icon {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
}


.caption-wrapper {
	font-size: 13px;
	margin-right: 0.5em;
  width: 100%;
}

.icon-mail {
	float: left;
	margin: 0 6px 0 12px;
}


.menu-trigger.btn-text.menu-arrow+.menu {
	margin-top: .94117647em;
}

.pin-center+.menu {
	right: auto;
}
.theme-nav+.menu, .theme-standard+.menu {
	background: #fff;
	border: 3px solid #00355f;
	box-shadow: 0 .52941176em 1.58823529em rgba(0,0,0,.12);
}
.menu-trigger+.menu {
	margin-top: .17647059em;
}
.menu-bar .menu {
	background-color: transparent;
	box-shadow: none;
	border-radius: .17647059em;
	border: none;
	min-width: 11.76470588em;
}
.menu-bar .menu .menu-main {
  padding-top: 0 !important;
}
.menu-bar .menu, .menu-bar ul {
	margin: 0;
	padding: 0;
}
.open>.menu {
	display: block;
	height: auto;
	opacity: 1;
}
.email-form,
.copy-form {
	width: 20em;
}

.copy-form p {
  word-wrap: break-word;
}

.menu {
	z-index: 1000;
	position: absolute;
	right: 0;
	min-width: 100%;
	height: 0;
	display: none;
	opacity: 0;
	padding-top: .52941176em;
	border-radius: .17647059em 0 .17647059em .17647059em;
	background: #fff;
	border: 3px solid #00355f;
	word-wrap: normal;
}

.menu-bar .menu .menu-main {
	padding: .70588235em;
}
.email-form .menu-main {
	font-size: 17px;
}

.email-form h4 {
	color: #00355f;
	margin: .5em 0;
	font-size: 17px;
}

.email-form .email-form-cancel {
	border: 0;
	background: 0;
	color: #0065b8;
	font-weight: normal;
}

.icon-link,
.icon-whatsapp
{
  margin: 0 0 0 6px;
  position: relative;
  top: -1px;
  width: 18px;
}

.icon-link {
  width: 15px;
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
  /*box-shadow: #224 0.2em 0.2em 0.6em 0.1em;*/
}
.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

.icon-whatsapp {
  -webkit-filter: hue-rotate(106deg);
}

.address {
  margin-bottom: 0;
}

.menu-trigger.btn-text.menu-arrow+.menu {
	margin-top: .94117647em;
}

.pin-center+.menu {
	right: auto;
}
.theme-nav+.menu, .theme-standard+.menu {
	background: #fff;
	border: 3px solid #00355f;
	box-shadow: 0 .52941176em 1.58823529em rgba(0,0,0,.12);
}
.menu-trigger+.menu {
	margin-top: .17647059em;
}
.menu-bar .menu {
	background-color: transparent;
	box-shadow: none;
	border-radius: .17647059em;
	border: none;
	min-width: 11.76470588em;
}
.menu-bar .menu, .menu-bar ul {
	margin: 0;
	padding: 0;
}
.open>.menu {
	display: block;
	height: auto;
	opacity: 1;
}
.email-form,
.copy-form {
	width: 20em;
}

.copy-form p {
  word-wrap: break-word;
}

.menu {
	z-index: 1000;
	position: absolute;
	right: 0;
	min-width: 100%;
	height: 0;
	display: none;
	opacity: 0;
	padding-top: .52941176em;
	border-radius: .17647059em 0 .17647059em .17647059em;
	background: #fff;
	border: 3px solid #00355f;
	word-wrap: normal;
}

.menu-bar .menu .menu-main {
	padding: .70588235em;
}
.email-form .menu-main {
	font-size: 17px;
}

.email-form h4 {
	color: #00355f;
	margin: .5em 0;
	font-size: 17px;
}

.email-form .email-form-cancel {
	border: 0;
	background: 0;
	color: #0065b8;
	font-weight: normal;
}
