.expediaPoints,
.priceType {
  font-size: 13px;
  font-weight: bold;
  /*color: #00355f !important;*/
  color: #1f1f1f;
}

.underline {
    text-decoration: underline;
}

.expediaPoints {
  margin-top: 9px;
  margin-bottom: 3px;
}

#bcol .hotel.urgencyMsg .avgPerNight.priceType,
#bcol .resultsContainer .hotel.urgencyMsg .priceCol .priceType {
  color: #d60000 ;
}

@media only screen and (max-width: 30.6875em) {
  .expediaPoints {
    clear: both;
    padding-top: 9px;
  }
}
