/*
https://css-tricks.com/css-style-guides/
*/

article.segment.hotel {
  margin-bottom: 0 !important;
}

.left-area {
  color: white;
  float: left;
  width: calc(40% - 70px);
	margin: 0;
	min-width: 97px;
	max-width: 255px;
	height: 100%;
}

.more-of-brand {
    /*background: white;*/
    color: #0065b8;
    font-size: 13px;
    border: 1px solid #c7c7c7;
    /*border-top: none;*/
    margin-top: 6px;
    margin-bottom: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

  .more-of-brand .message {
    float: left;
    padding-left: 12px;
  }


.scratchpad-tool {
  border-top: rgb(199, 199, 199) solid 1px;
  color: #0065b8;
  font-size: 13px;
  padding: 6px;
}
  .scratchpad-tool .save,
  .scratchpad-tool .add-note {
    padding: 6px;
  }

  .scratchpad-tool .save .icon {
    padding-right: 6px;
  }

  .hotelWrapper:nth-child(3n) .more-of-brand {
    display: none;
  }
