/*
https://css-tricks.com/css-style-guides/
*/

.map-heading {
  width: 80%;
}

#hsrMap .map-heading {
  color: #0065b8;
}

.icon-toggle270 {
  display: inline-block;
}

#hotel-map-header button {
  display: block !important;
  margin-top: 0;
}

.small-map-close {
    display: none;
}

.map-document {
  padding-top: 2px;
}

.map-close .btn-label .map-label {
  display: none;
}

@media (min-width:512px) {
  #hotel-map .icon.icon-toggle270 {
    display: none;
  }
  #hotel-map .map-heading {
    color: #1f1f1f;
  }
}

@media (min-width:726px) {
  .map-document {
    padding-top: 0;
  }
  #hotel-map-header button {
    margin-top: 24px;
  }
  .map-close .btn-label .map-label {
    display: inline;
  }
  #hsrMap .btn-sub-action.btn-secondary.map-close {
    bottom: 0.588235em !important;
  }
}

#hsrMap .map-header {
  padding-left: 12px;
}

#hsrMap .mobileCloseButton {
  display: none;
}

#hsrMap .btn-sub-action.btn-secondary.map-close {
  display: block !important;
  bottom: 4px;
}
