#hotel-map-header {
  height: 5.352941em !important;
}

#hotel-map .map-canvas {
  top: 5.352941em !important;
}

#hotel-map-header button.btn-book {
  display: inline-block !important;
  position: inherit !important;
  margin-top: 6px;
  margin-bottom: 6px;
}

#hotel-map-header button.map-close {
  display: none !important;
}

/*#hotel-map-header .address {
  margin-left: 12px;
}*/

@media  (min-width: 45.375em) {
  #hotel-map-header {
    height: 7.352941em !important;
  }

  #hotel-map .map-canvas {
    top: 7.352941em !important;
  }

  #hotel-map-header button.btn-book {
    /*margin-top: 1.6em !important;*/
    margin-top: 12px;
    margin-left: 12px;
  }

  #hotel-map-header .address {
    position: relative;
    bottom: 12px;
    display: inline !important;
    /*margin-left: 0 !important;*/
  }

  #hotel-map-header .small-map-close {
    display: block !important;
    padding-right: 0;
  }
}

@media (min-width:60em) {
  #legend,
  #hotel-map .map-canvas
   {
    top: 7.352941em !important;
  }

  #hotel-map-header {
    height: 7.352941em !important;
  }
}

@media (min-width:1280px) {

  #legend,
  #hotel-map .map-canvas
   {
    top: 7.352941em !important;
  }

  #hotel-map-header {
    height: 7.352941em !important;
  }

  /*#hotel-map-header .address {
    margin-left: 77px;
  }*/

  #hotel-map-title {
    /*margin-top: 0.47em !important;;*/
  }
}
