#legend h6:first-of-type {
  margin-top: 18px;
}

.map-header .btn-book {
  display: inline !important;
  margin: 0 !important;
  top: inherit !important;
  right: inherit !important;
  position: inherit !important;
}

#hotel-map-title {
  display: inline;
}

#hotel-map-title {
  display: inline;
}
